.blog {
  padding-bottom: 91px;
  overflow: hidden;
  &__head {
    color: #1a1a1a;
    font-family: "Nunito Sans";
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    padding-bottom: 50px;
  }
  .slick-prev, .slick-next {
    display: none !important;
  }
  &__item {
    display: flex;
    flex-direction: column;
  }
  &__img {
    background-size: cover;
    background-position: center;
    width: 263px;
    height: 296px;
    margin: 0 auto 32px;
  }
  &__title {
    color: #1a1a1a;
    font-family: "Nunito Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    padding-bottom: 33px;
    max-width: 76%;
    margin: 0 auto;
  }
  &__text {
    color: #484848;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
  }
  &__footer {
    padding-top: 51px;
  }
  &__button {
    border-radius: 30px;
    background-color: #27ae60;
    width: fit-content;
    padding: 17px 44px;
    color: #ffffff;
    font-family: "Nunito Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin: 0 auto;
  }
  .slick-active + .slick-active + .slick-active ~ .slick-slide {
    opacity: 0.5;
  }
  .slick-slide[data-filetype="image"] {
    color: red;
  }
}