.contact {
  &__head{
    padding-bottom: 60px;
    color: #1a1a1a;
    font-family: "Nunito Sans";
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
  }
  .col-sm-12 {
    padding-bottom: 45px;
  }
  &__form {
    @include flexbox();
    @include flex-direction(column);
    input {
      outline: none;
      background: none;
      border: none;
      border-bottom: 1px solid rgba(26, 26, 26, 0.2);
      color: #1a1a1a;
      font-family: "Nunito Sans";
      font-size: 18px;
      font-weight: 700;
      padding: 0px 0px 20px;
      margin-bottom: 40px;
    }
    textarea {
      padding: 20px;
      color: #1a1a1a;
      font-family: "Nunito Sans";
      font-size: 18px;
      font-weight: 700;
      border: 1px solid rgba(26, 26, 26, 0.2);
      height: 186px;
      margin-bottom: 40px;
    }
  }
  &__button {
    div {
      padding: 17px 54px;
      border-radius: 30px;
      background-color: #27ae60;
      color: #ffffff;
      font-family: "Nunito Sans";
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      width: fit-content;
    }
  }
  &__info {
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    & > div {
      max-width: 160px;
    }
    img {
      margin-bottom: 18px;
      height: 30px;
    }
  }
  &__map {
    margin-bottom: 30px;
    overflow: hidden;
  }
  &__text {
    color: #484848;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
  @media (max-width: $width-sm) {
    &__info {
      flex-direction: column;
      & > div {
        margin-bottom: 60px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__button {
      div {
        margin: 0 auto;
      }
    }
  }
}