.courses {
  &__title {
    color: #1a1a1a;
    font-family: "Nunito Sans";
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    padding-bottom: 63px;
  }
  &__footer {
    padding-bottom: 62px;
    opacity: 0.5;
    color: #1a1a1a;
    font-family: "Nunito Sans";
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
  .slick-prev, .slick-next {
    display: none !important;
  }
  .slick-dots {
    display: flex !important;
    position: relative;
    margin: 0 auto 9px;
    @include flexbox();
    width: fit-content;
    flex-wrap: nowrap;
    list-style: none;
    padding-left: 0;
    li {
      width: 14px;
      height: 14px;
      border: 2px solid #48494a;
      border-radius: 50%;
      margin: 0 4px;
      cursor: pointer;
      &.slick-active {
        border: 2px solid #27ae60;
        background-color: #27ae60;
      }
      button {
        display: none;
      }
    }
  }
  @media (max-width: $width-sm) {
    &__title {
      font-size: 36px;
      font-weight: 700;
      padding-bottom: 0;
    }
    &__footer {
      display: none;
    }
  }
}
.course {
  padding-bottom: 40px;
  &__body {
    background-color: #f1f1f1;
    padding: 36px 0 23px;
  }
  &__img {
    height: 245px;
    width: 100%;
    background-size: cover;
  }
  &__title {
    color: #1a1a1a;
    font-family: "Nunito Sans";
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    padding: 0 29px 17px;
  }
  &__text {
    color: #484848;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 29px 26px;
  }
  &__hr {
    background-color: #464748;
    opacity: 0.2;
    width: 100%;
    height: 2px;
  }
  &__time {
    color: #1a1a1a;
    font-family: "Nunito Sans";
    font-size: 24px;
    font-weight: 700;
    max-width: 245px;
    margin: 0 auto;
    text-align: center;
    span {
      padding: 17px 0 14px;
      display: block;
    }
  }
  &__teacher {
    color: #1a1a1a;
    font-family: "Nunito Sans";
    font-size: 24px;
    font-weight: 700;
    max-width: 245px;
    margin: 0 auto;
    text-align: center;
    span {
      padding: 11px 0;
      display: block;
    }
  }
  &__button {
    padding: 50px 42px 0;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      background-color: #27ae60;
      color: #fff;
      font-family: "Nunito Sans";
      font-size: 24px;
      font-weight: 700;
      line-height: 20px;
      padding: 15px 15px;
      cursor: pointer;
      text-align: center;
    }
  }
  @media (max-width: $width-sm) {
    padding-bottom: 22px;
  }
}