.education {
  font-family: "Nunito Sans";
  &__img {
    img {
      max-width: 100%;
    }
  }
  &__text {
    margin-top: 77px;
  }
  &__title {
    color: #1a1a1a;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    padding-bottom: 29px;
  }
  &__description {
    color: #484848;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 82px;
  }
  @media (max-width: $width-sm) {
    &__text {
      margin-top: 19px;
    }
    &__title {
      font-size: 30px;
      line-height: 36px;
      padding-bottom: 19px;
    }
    &__description {
      font-size: 14px;
      line-height: 18px;
      padding-bottom: 31px;
    }
  }
}
.skills {
  margin-bottom: 60px;
  &__img {
    margin-right: 44px;
    margin-bottom: 39px;.education__text
    img {
      width: 34px;
    }
  }
  &__title {
    color: #1a1a1a;
    font-family: "Nunito Sans";
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 39px;
  }
  @media (max-width: $width-sm) {
    margin-bottom: 41px;
    &__title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 19px;
    }
    &__img {
      margin-bottom: 19px;
    }
  }
}