.features {
  background-color: #f1f1f1;
  padding-top: 81px;
  margin-bottom: 80px;
  &__title {
    color: #1a1a1a;
    font-family: "Nunito Sans";
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    padding-bottom: 63px;
  }
  &__img {
    background-color: #ffffff;
    width: 148px;
    height: 149px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 21px;
  }
  &__h3 {
    color: #1a1a1a;
    font-family: "Nunito Sans";
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 25px;
  }
  &__text {
    color: #484848;
    font-family: Montserrat;
    max-width: 310px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 70px;
  }
  @media (max-width: $width-sm) {
    margin-bottom: 41px;
    &__title {
      font-size: 36px;
      font-weight: 700;
      line-height: 36px;
      padding-bottom: 41px;
    }
    &__h3 {
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 16px;
    }
    &__text {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 30px;
    }
  }
}