.programs {
  margin-bottom: 62px;
  &__head {
    color: #1a1a1a;
    font-family: "Nunito Sans";
    font-size: 48px;
    font-weight: 700;
    line-height: 53px;
    text-align: center;
    padding-bottom: 50px;
  }
  &__block {
    background-color: #27ae60;
    height: 360px;
    margin-bottom: 29px;
  }
  .progress__background {
    background-size: cover;
    background-position: center;
    height: 100%;
    padding: 119px 30px 0;
    text-align: center;
  }
  &__title {
    color: #ffffff;
    font-family: "Nunito Sans";
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 26px;
    line-height: 30px;
  }
  &__text {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
  @media (max-width: $width-sm) {
    margin-bottom: 25px;
    &__head {
      padding-bottom: 14px;
      font-size: 24px;
    }
    &__text {
      font-size: 14px;
    }
  }
}