.reviews {
  padding: 80px 0 80px;
  margin-bottom: 82px;
  background-color: #f1f1f1;
  &__head {
    color: #1a1a1a;
    font-family: "Nunito Sans";
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    padding-bottom: 50px;
  }
  .slick-dots {
    display: none !important;
  }
  .slick-list {
    max-width: 750px;
    margin: 0 auto;
  }
  &__slider {
    text-align: center;
    margin: 0 auto;
    font-family: "Nunito Sans";
  }
  &__text {
    color: #484848;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 68px;
  }
  &__name {
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    padding-bottom: 20px;
  }
  &__prof {
    color: #484848;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }
  &__thumbnail {
    padding-bottom: 36px;
    img {
      display: block;
      margin: 0 auto;
      background-color: #1a1a1a;
      border-radius: 50%;
    }
    .slick-current {
      img {
        background: none;
        border: 3px solid #27ae60;
      }
    }
  }
  .slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 24px;
    height: 44px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
  }
  .slick-prev, .slick-next {
    top: 105px;
  }
  .slick-prev {
    left: -25px;
    background-image: url('/dist/img/arrow_left.png');
  }
  .slick-next {
    right: -25px;
    background-image: url('/dist/img/arrow_right.png');
  }

  @media (max-width: $width-sm) {
    padding: 20px 0;
    .slick-dots {
      display: flex !important;
      position: relative;
      margin: 30px auto 0;
      @include flexbox();
      width: fit-content;
      flex-wrap: nowrap;
      list-style: none;
      padding-left: 0;
      li {
        width: 9px;
        height: 9px;
        border: 2px solid #48494a;
        border-radius: 50%;
        margin: 0 4px;
        cursor: pointer;
        &.slick-active {
          border: 2px solid #27ae60;
          background-color: #27ae60;
        }
        button {
          display: none;
        }
      }
    }
    &__thumbnail {
      .slick-prev, .slick-next {
        display: none !important;
      }
    }
  }
}