.slider {
  width: 100%;
  background-color: #1a1a1a;
  height: 700px;
  margin-bottom: 60px;
  &__item {
    background-size: cover;
  }
  &__block {
    @include flexbox();
    align-items: center;
    justify-content: center;
    height: 700px;
  }
  &__row {
    text-align: center;
    padding-top: 80px
  }
  &__title {
    color: #ffffff;
    font-family: "Nunito Sans";
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
    margin-bottom: 26px;
  }
  &__text {
    color: #ffffff;
    font-family: "Nunito Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 55px;
  }
  &__button {
    border-radius: 28px;
    background-color: #27ae60;
    padding: 0 20px;
    color: #ffffff;
    font-family: "Nunito Sans";
    font-size: 24px;
    font-weight: 700;
    display: block;
    width: fit-content;
    margin: 0 auto;
    line-height: 55px;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
  .slick-prev, .slick-next {
    display: none !important;
  }
  .slick-dots {
    position: relative;
    margin: -50px auto 0;
    @include flexbox();
    width: fit-content;
    flex-wrap: nowrap;
    list-style: none;
    padding-left: 0;
    li {
      width: 22px;
      height: 22px;
      border: 2px solid #fff;
      border-radius: 50%;
      margin: 0 4px;
      cursor: pointer;
      &.slick-active {
        border: 2px solid #27ae60;
        background: #27ae60;
      }
      button {
        display: none;
      }
    }
  }
  @media (max-width: $width-sm) {
    margin-bottom: 19px;
    &__title {
      color: #ffffff;
      font-family: "Nunito Sans";
      font-size: 36px;
      font-weight: 700;
      line-height: 36px;
    }
    &__text {
      color: #ffffff;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
    }
  }
}