.subscribe {
  width: 100%;
  background-image: url('/dist/img/news_letter.png');
  background-color: #1a1a1a;
  background-size: cover;
  background-position: center;
  margin-bottom: 80px;
  &__text {
    margin: 100px 0;
    color: #ffffff;
    font-family: "Nunito Sans";
    font-size: 36px;
    font-weight: 700;
    @include flexbox();
    @include align-items(center);
  }
  &__form {
    @include flexbox();
    @include align-items(center);
    height: 100%;
    justify-content: space-between;
  }
  &__button {
    border-radius: 30px;
    background-color: #27ae60;
    width: fit-content;
    padding: 17px 44px;
    color: #fff;
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    cursor: pointer;
  }
  &__input {
    width: 100%;
    max-width: 340px;
    margin-right: 10px;
    input {
      outline: none;
      border: none;
      background: none;
      border-bottom: 2px solid #f1f1f1;
      width: 100%;
      color: #fff;
      font-family: Nunito Sans;
      font-size: 26px;
      line-height: 24px;
      padding: 0 10px;
      opacity: 0.4;
    }
  }
  @media (max-width: $width-sm) {
    &__text {
      margin: 59px auto;
      max-width: 300px;
      text-align: center;
    }
    &__form {
      flex-direction: column;
    }
    &__input {
      margin-bottom: 38px;
    }
    &__button {
      white-space: nowrap;
      margin-bottom: 117px;
    }
  }
}