.teachers {
  background-color: #f1f1f1;
  padding-top: 80px;
  padding-bottom: 49px;
  margin-bottom: 80px;
  &__title {
    display: block;
    text-align: center;
    color: #1a1a1a;
    font-family: "Nunito Sans";
    font-size: 48px;
    font-weight: 700;
    line-height: 38px;
    padding-bottom: 60px;
  }
  &__col {
    @include flexbox();
    @include justify-content(center);
    padding-bottom: 60px;
  }
  &__img {
    margin-right: 15px;
  }
  &__text {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
  }
  &__name {
    color: #1a1a1a;
    font-family: "Nunito Sans";
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
  }
  &__prof {
    color: #27ae60;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
  }
  &__mobile {
    display: none;
  }
  &__desktop {
    display: block;
  }
  @media (max-width: $width-sm) {
    padding-bottom: 13px;
    padding-top: 40px;
    margin-bottom: 40px;
    &__title {
      padding-bottom: 20px;
    }
    &__mobile {
      display: block !important;
      .teachers__img {
        img {
          margin: 0 auto 35px;
        }
      }
      .teachers__text {
        text-align: center;
      }
      .teachers__name {
        padding-bottom: 13px;
      }
      .slick-prev, .slick-next {
        display: none !important;
      }
      .teachers__col {
        padding-bottom: 0;
      }
      .slick-dots {
        display: flex !important;
        position: relative;
        margin: 30px auto 0;
        @include flexbox();
        width: fit-content;
        flex-wrap: nowrap;
        list-style: none;
        padding-left: 0;
        li {
          width: 9px;
          height: 9px;
          border: 2px solid #48494a;
          border-radius: 50%;
          margin: 0 4px;
          cursor: pointer;
          &.slick-active {
            border: 2px solid #27ae60;
            background-color: #27ae60;
          }
          button {
            display: none;
          }
        }
      }
    }
    &__desktop {
      display: none !important;
    }
  }
}