.logo-button {
  display: flex;
  justify-content: space-between;
}
.header {
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  padding: 48px 0;
  transition: 0.4s;
}
.header_fixed {
  transition: 0.4s;
  padding: 25px 0;
  opacity: 0.6;
  border-bottom: 1px solid rgba(#ccc, 0.4);
  background-color: #1a1a1a;
}
.logo {
  @include flexbox();
  align-items: center;
  justify-content: center;
}
.logo__img {
  padding-right: 40px;
}
.logo__text {
  color: #ffffff;
  font-family: "Nunito Sans";
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.hamburger {
  &:focus {
    outline: none;
  }
  display: none;
  @media (max-width: $width-lg) {
    display: block;
  }
}
.menu__header {
  @include flexbox();
  @include justify-content(flex-end);
  ul {
    @include flexbox();
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      padding-left: 40px;
      cursor: pointer;
      a {
        color: #ffffff;
        font-family: "Nunito Sans";
        font-size: 18px;
        font-weight: 700;
        &:hover {
          text-decoration: none;
        }
      }
    }
    @media (max-width: $width-lg) {
      display: none;
      position: fixed;
      left: 0;
      right: 0;
      height: 100vh;
      background-color: #1a1a1a;
      opacity: .8;
      margin-top: 26px;
      padding-top: 20px;
      li {
        padding-left: 40px;
        cursor: pointer;
        border-bottom: 1px solid hsla(0,0%,80%,.4);
        line-height: 40px;
      }
    }
  }
  .menu__header_column {
    display: inline-block;
  }
}




footer {
  background-color: #1a1a1a;
  padding: 42px 0;
  color: #ffffff;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 700;
  @media (max-width: $width-lg) {
    .logo {
      justify-content: center !important;
      margin-bottom: 40px;
    }
  }
}
.menu__footer {
  @media (max-width: 991px) {
    @include justify-content(center !important);
  }
  div {
    ul {
      @include flexbox();
      padding: 0;
      margin: 0;
      list-style: none;
      @media (max-width: $width-lg) {
        display: block;
      }
      li {
        padding-left: 40px;
        cursor: pointer;
        @media (max-width: $width-lg) {
          padding: 5px;
          text-align: center;
        }
        a {
          color: #ffffff;
          font-family: "Nunito Sans";
          font-size: 18px;
          font-weight: 700;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}